<!DOCTYPE html>
<html>
<head>
    <style>
        .main-header {
            width: 100%;
            padding: 20px 40px;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1000;
        }
        .nav-link {
            color: white;
            margin-left: 20px;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <header class="main-header">
        <nav>
            <a href="index.html" class="nav-link">Home</a>
            <a href="research.html" class="nav-link">Research</a>
        </nav>
    </header>

    </body>
</html>
